# Ignore Python bytecode files
__pycache__/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/